language: ruby
sudo: false
rvm:
  - 2.0.0
  - 2.1.7
  - 2.2.3
  - 2.3.3
gemfile:
  - Gemfile.rails41
  - Gemfile.rails42
  - Gemfile.rails50 # Min ruby 2.2.2
  - Gemfile.rails51 # Min ruby 2.2.2
matrix:
  exclude:
    - rvm: 2.0.0
      gemfile: Gemfile.rails50
    - rvm: 2.0.0
      gemfile: Gemfile.rails51
    - rvm: 2.1.7
      gemfile: Gemfile.rails50
    - rvm: 2.1.7
      gemfile: Gemfile.rails51
