<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = "<%= Apipie.configuration.disqus_shortname %>";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript><%= t('apipie.enable_javascript_html', :comments_href => link_to(
        t('apipie.comments_powered_by_disqus', :disqus => 'Disqus'),
        "http://disqus.com/?ref_noscript")) %></noscript>
<a href="http://disqus.com" class="dsq-brlink"><%= t('apipie.comments_powered_by_disqus', :disqus => "<span class='logo-disqus'>Disqus</span>") %></a>
