<h1 class='page-header'><%= t('apipie.no_doc_found') %></h1>
<p><%= t('apipie.no_docs_found_descr') %></p>
<p><%= t('apipie.follow_instructions_html',
    :href => link_to(t('apipie.follow_instructions_href'),
        "https://github.com/Pajk/apipie-rails#getting-started", :target => "_blank")) %></p>

