<h1 class='page-header'>No documentation found</h1>
<p>We have not found any documentation for your API.</p>
<p>Follow <a href="https://github.com/Pajk/apipie-rails#getting-started" target="_blank">further instructions</a> on how to describe your controllers.</p>

