<!DOCTYPE html>
<html>
<head>
  <title>API documentation</title>
  <% %w[bundled/bootstrap.css application.css bundled/bootstrap-responsive.css].each do |file| %>
    <link type="text/css" rel="stylesheet" href="<%= Restapi.full_url("stylesheets/#{file}") %>"/>
  <% end %>
  <!-- IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <div class="row">
      <div id='container'></div>
    </div>
    <hr>
    <footer></footer>
  </div>
  <% %w[
    bundled/jquery-1.7.2.js
    bundled/json2.js
    bundled/underscore.js
    bundled/backbone.js
    bundled/bootstrap-collapse.js

    restapi.js
    jst.js
    routers/documentation_router.js ].each do |file| %>
    <script type="text/javascript" src="<%= Restapi.full_url("javascripts/#{file}") %>"></script>
  <% end %>
</body>
</html>
